{% extends 'fashionStore/signup.html' %}
{% block title %}Reset Password{% endblock title %}
{% block form-wrapper %}
<h1 style="text-align:center; text-decoration: none;"><a href="{% url 'fashionStore:index' %}" style="text-decoration: none;color: black;">FashionStore</a></h1>
<div class="form-container">
    {% block form-container %}
    <div class="signup-title">{% block signup-title %}<h3>Forgot Password</h3>{% endblock signup-title %}</div>
   <p class="fp">Can’t remember your login credentials? Enter your details below and we’ll send instructions if your account exists.</p>
        
<div class="fieldWrapper">
    <form action="{% url 'fashionStore:forgotpassword' %}" method="post">
        {% csrf_token %}
        {% for field in form  %}
        {{form}}
        <br/>
        <br/>
        {% endfor %}
        
    <input type="submit" value="Send Reset Link">
</form>

</div>   

<div class="already">
    {% block already %}
    <p>I remember my password</p>
    <a href="{% url 'fashionStore:Login' %}"><button>Login</button></a>
    {% endblock already %}
    <br/>
    <br/>
</div>

    {% endblock form-container %}
</div>


{% endblock form-wrapper %}