{% extends 'fashionStore/signup.html' %}

{% block title %}Reset completed{% endblock title %}
{% block form-wrapper %}
<div class="signUp_success">
    <p style="text-align: center; font-size:20px; font-weight:bold;color:royalblue;"><i class="fa-regular fa-circle-check"></i></p>
     <p style="text-align: center; font-size:20px; font-weight:bold;color:rgba(11, 161, 161, 0.815);"> Password Reset completed Successfully</p>
     <p style="text-align: center; font-size:12px;">You can now login to your Account </p>
     <a href="{% url 'fashionStore:Login' %}"><button class="btn">ok</button></a>
 </div>

{% endblock form-wrapper %}