{% extends 'fashionStore/profile.html' %}
{% load static %}
{% block profile-content %}
<div class="profile-content-title"> <i class="fa-regular fa-heart" style="font-size:20px;"></i> &nbsp;{% block profile-content-title %} My Wishlist{% endblock profile-content-title %}</div>
<br/>
<div class="Wishlist-container">
    <table>
        <tr>
            <thead>
                <th></th>
                <th></th>
                <th>Product Name</th>
                <th>Unity Price</th>
                <th>Stock Status</th>
                <th></th>
            </thead>
        </tr>
        {% if saveItem %}
        {% for saveItems in saveItem %}
        <tr>
            <td><a href=""><i class="fa-regular fa-trash-can"></i></a></td>
            <td><img src="{{saveItems.product.image.url}}" alt="" srcset=""></td>
            <td>{{saveItems.product.name}}</td>
            <td>{{saveItems.product.price}}</td>
            <td>In Stock</td>
    
            <td><form action="{% url 'fashionStore:add-to-cart' saveItems.product.id %}" method="post"><input type="submit" value="Add To Cart">{% csrf_token %}</form></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock profile-content %}
